<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="4d895d85-2869-4f0e-82b3-42bd7b47d4eb" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://reqres.in" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="4d895d85-2869-4f0e-82b3-42bd7b47d4ebfileName">https%3A%2F%2Freqres.in</con:setting>
  </con:settings>
  <con:definitionCache/>
  <con:endpoints>
    <con:endpoint>https://reqres.in</con:endpoint>
  </con:endpoints>
</con:interface>
