<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="bce8cee0-ec24-46a7-b54c-8739c6fdeb0f" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://thetestingworldapi.com" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="bce8cee0-ec24-46a7-b54c-8739c6fdeb0ffileName">http%3A%2F%2Fthetestingworldapi.com</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>http://thetestingworldapi.com</con:endpoint>
  </con:endpoints>
</con:interface>
